
$black: #000000;
$white: #ffffff;

// grey 
$grey-lighten-5: #FDFEFE;
$grey-lighten-4: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;
$grey-lighten-2: #e0e0e0;
$grey-lighten-1: #bdbdbd;
$grey: #9e9e9e;
$grey-dark-1: #757575;
$grey-dark-2: #616161;
$grey-dark-3: #424242;
$grey-dark-4: #212121; 

// blue
$blue-lighten-4: #bbdefb;
$blue-lighten-3: #90caf9;
$blue-lighten-2: #64b5f6;
$blue-lighten-1: #42a5f5;
$blue: #2196f3; 
$blue-dark-1: #1e88e5;
$blue-dark-2: #1976d2;
$blue-dark-3: #1565c0;
$blue-dark-4: #0d47a1;

//green
$green-lighten-1: #e8f5e9;
$green-lighten-4: #c8e6c9;
$green-lighten-3: #a5d6a7;
$green-lighten-2: #81c784;
$green-lighten-1: #66bb6a;
$green: #4caf50;
$green-dark-1: #43a047;
$green-dark-2: #388e3c;
$green-dark-3: #2e7d32;
$green-dark-4: #1b5e20;

// orange 
$orange-lighten-1: #fff3e0;
$orange-lighten-4: #ffe0b2;
$orange-lighten-3: #ffcc80;
$orange-lighten-2: #ffb74d;
$orange-lighten-1: #ffa726;
$orange: #ff9800;
$orange-dark-1: #fb8c00;
$orange-dark-2: #f57c00;
$orange-dark-3: #ef6c00;
$orange-dark-4: #e65100;

//red 
$red-lighten-1: #ffebee;
$red-lighten-4: #ffcdd2;
$red-lighten-3: #ef9a9a;
$red-lighten-2: #e57373;
$red-lighten-1: #ef5350;
$red: #f44336;
$red-dark-1: #e53935;
$red-dark-2: #d32f2f;
$red-dark-3: #c62828;
$red-dark-4: #b71c1c;


////////
.black { color:#000000;}
.white { color: #ffffff;}

// grey 
.grey-lighten-5   {color: #FDFEFE;}
.grey-lighten-4   {color: #fafafa;}
.grey-lighten-4   {color: #f5f5f5;}
.grey-lighten-3   {color: #eeeeee;}
.grey-lighten-2   {color: #e0e0e0;}
.grey-lighten-1   {color: #bdbdbd;}
.grey             {color: #9e9e9e;}
.grey-dark-1      {color: #757575;}
.grey-dark-2      {color: #616161;}
.grey-dark-3      {color: #424242;}
.grey-dark-4      {color: #212121;}

// blue
.blue-lighten-4   {color: #bbdefb;}
.blue-lighten-3   {color: #90caf9;}
.blue-lighten-2   {color: #64b5f6;}
.blue-lighten-1   {color: #42a5f5;}
.blue             {color: #2196f3;}
.blue-dark-1      {color: #1e88e5;}
.blue-dark-2      {color: #1976d2;}
.blue-dark-3      {color: #1565c0;}
.blue-dark-4      {color: #0d47a1;}

//green
.green-lighten-1  {color: #e8f5e9;}
.green-lighten-4  {color: #c8e6c9;}
.green-lighten-3  {color: #a5d6a7;}
.green-lighten-2  {color: #81c784;}
.green-lighten-1  {color: #66bb6a;}
.green            {color: #4caf50;}
.green-dark-1     {color: #43a047;}
.green-dark-2     {color: #388e3c;}
.green-dark-3     {color: #2e7d32;}
.green-dark-4     {color: #1b5e20;}

// orange 
.orange-lighten-1 {color:  #fff3e0;}
.orange-lighten-4 {color:  #ffe0b2;}
.orange-lighten-3 {color:  #ffcc80;}
.orange-lighten-2 {color:  #ffb74d;}
.orange-lighten-1 {color:  #ffa726;}
.orange           {color:  #ff9800;}
.orange-dark-1    {color:  #fb8c00;}
.orange-dark-2    {color:  #f57c00;}
.orange-dark-3    {color:  #ef6c00;}
.orange-dark-4    {color:  #e65100;}

//red 
.red-lighten-1 {color:  #ffebee;}
.red-lighten-4 {color:  #ffcdd2;}
.red-lighten-3 {color:  #ef9a9a;}
.red-lighten-2 {color:  #e57373;}
.red-lighten-1 {color:  #ef5350;}
.red           {color:  #f44336;}
.red-dark-1    {color:  #e53935;}
.red-dark-2    {color:  #d32f2f;}
.red-dark-3    {color:  #c62828;}
.red-dark-4    {color:  #b71c1c;}
