
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); 
    // font-family: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Oswald:wght@200&display=swap');
    //     font-family: 'Big Shoulders Display', cursive;
    //     font-family: 'Oswald', sans-serif;

