
.mg{
    &-1{ margin: 10px !important; }
    &-2{ margin: 20px !important; }
    &-3{ margin: 30px !important; }
    &-4{ margin: 40px !important; }
    &-5{ margin: 50px !important; }
}

.mt{
    &-1{ margin-top: 10px !important; }
    &-2{ margin-top: 20px !important; }
    &-3{ margin-top: 30px !important; }
    &-4{ margin-top: 40px !important; }
    &-5{ margin-top: 50px !important; }
}

.mb{
    &-1{ margin-bottom: 10px !important; }
    &-2{ margin-bottom: 20px !important; }
    &-3{ margin-bottom: 30px !important; }
    &-4{ margin-bottom: 40px !important; }
    &-5{ margin-bottom: 50px !important; }
}

.ml{
    &-1{ margin-left: 10px !important; }
    &-2{ margin-left: 20px !important; }
    &-3{ margin-left: 30px !important; }
    &-4{ margin-left: 40px !important; }
    &-5{ margin-left: 50px !important; }
}

.mr{
    &-1{ margin-right: 10px !important; }
    &-2{ margin-right: 20px !important; }
    &-3{ margin-right: 30px !important; }
    &-4{ margin-right: 40px !important; }
    &-5{ margin-right: 50px !important; }
}

.mrl{
    &-1{ margin-right: 10px !important; 
         margin-left: 10px !important;
        }   
    &-2{ margin-right: 20px !important;
         margin-left: 20px !important; 
        }
    &-3{ margin-right: 30px !important;
         margin-left: 30px !important; 
        }
    &-4{ margin-right: 40px !important;
         margin-left: 40px !important; 
        }
    &-5{ margin-right: 50px !important;
         margin-left: 50px !important; 
        }
}