
.message{
    @extend .content, .content-center;
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 20px;
    left: 0px;
    z-index: 999;        
    &-success{        
        width: auto;
        padding: 10px 20px; 
        background-color: $red-lighten-1;        
        color: $white;           
        font-family: sans-serif;     
        font-size: 0.8em;
    }
    &-error{
        width: auto;
        padding: 10px 20px;         
        background-color: $green-lighten-1;               
        color: $white;               
        font-family: sans-serif;      
        font-size: 0.8em;
    }
}