@import './fonts';

h1 {
    width: 100%;
    margin: 20px 0px !important;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    @media screen {
        font-size: 25px;
    }
}

.text{
    &-invalid{
        color: $red-lighten-1;        
        text-align: end;
        margin: 2px;
        font-family: Arial, Helvetica, sans-serif; 
    }
}