
@import './colors';


.wrap{
    background-color: $white;
    padding:20px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 0.8em;
    -webkit-box-shadow: 0px 3px 5px 0px $grey-lighten-1;
    -moz-box-shadow: 0px 3px 5px 0px $grey-lighten-1;
    box-shadow: 0px 3px 5px 0px $grey-lighten-1;

    &-sm{
        width: 400px;                                       
    }

    &-md{
        width: 450px;
        height: auto;
        @extend .wrap;        
        @media screen and (max-device-width: 400px){
            width: 80%;
        }
    }       
}
